.headDiv{
    margin-top: 87px;
    width: 1720px;
    height: 492px;
    flex-shrink: 0;
    background: #8C6D51;
    justify-self: center;
}
.headText{
    width: 841px;
    height: 368px;
    margin-left: 59px;
    position: relative;
    top:35px;
}
.headText p{
    color: #FFF;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.imageContainer {
    width: 522px;
    height: 535px;
    flex-shrink: 0;
    border-radius: 31px;
    background: url("/public/image1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 1004px;
    bottom: 277px;
}

.imageContainer2 {
    width: 522px;
    height: 535px;
    flex-shrink: 0;
    border-radius: 31px;
    background: url("/public/image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 224px;
    top:201px;
}

.DivText1{
    width: 748px;
    height: 506px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 1000px;
    top: -257px;
}

.Profile1{
    width: 760px;
    height: 315px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
    left:138px;
    overflow: hidden;
    margin-bottom: 30px;
    top:-100px;
}

.Profile1c1{
    width: 399px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 42px;
}

.Profile1c2{
    width: 394px;
    height: 134px;
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 69px;
}

.Profile1Image{
    width: 326px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 326px;
    background: url("/public/image3.jpg") lightgray 50% / cover no-repeat;
    position: relative;
    left: 475px;
    bottom: 150px;
    overflow: hidden;
}

.Profile2{
    width: 760px;
    height: 315px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
    left:1053px;
    overflow: hidden;
    margin-bottom: 30px;
    top:-445px;
}

.Profile2c1{
    width: 399px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 42px;
}

.Profile2c2{
    width: 394px;
    height: 134px;
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 69px;
}

.Profile2Image{
    width: 326px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 326px;
    background: url("/public/image4.png") lightgray 50% / cover no-repeat;
    position: relative;
    left: 475px;
    bottom: 150px;
    overflow: hidden;
}
  
.Profile3{
    width: 760px;
    height: 315px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
    left:138px;
    overflow: hidden;
    margin-bottom: 30px;
    bottom:380px;
}

.Profile3c1{
    width: 399px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 42px;
}

.Profile3c2{
    width: 394px;
    height: 134px;
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 69px;
}

.Profile3Image{
    width: 326px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 326px;
    background: url("/public/image5.jpg") lightgray 50% / cover no-repeat;
    position: relative;
    left: 475px;
    bottom: 150px;
    overflow: hidden;
}

.Profile4{
    width: 760px;
    height: 315px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
    left:1053px;
    overflow: hidden;
    margin-bottom: 30px;
    bottom:725px;
}

.Profile4c1{
    width: 399px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 42px;
}

.Profile4c2{
    width: 394px;
    height: 134px;
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 69px;
}

.Profile4Image{
    width: 326px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 326px;
    background: url("/public/image6.png") lightgray 50% / cover no-repeat;
    position: relative;
    left: 475px;
    bottom: 150px;
    overflow: hidden;
}

.Profile5{
    width: 760px;
    height: 315px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
    left:138px;
    overflow: hidden;
    margin-bottom: 30px;
    bottom:640px;
}

.Profile5c1{
    width: 399px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 42px;
}

.Profile5c2{
    width: 394px;
    height: 134px;
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 69px;
}

.Profile5Image{
    width: 326px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 326px;
    background: url("/public/image7.png") lightgray 50% / cover no-repeat;
    position: relative;
    left: 475px;
    bottom: 150px;
    overflow: hidden;
}

.Profile6{
    width: 760px;
    height: 315px;
    flex-shrink: 0;
    background: #FFF;
    position: relative;
    left:1053px;
    overflow: hidden;
    margin-bottom: 30px;
    bottom:982px;
}

.Profile6c1{
    width: 399px;
    height: 64px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 42px;
}

.Profile6c2{
    width: 394px;
    height: 134px;
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    margin-left: 52px;
    top: 69px;
}

.Profile6Image{
    width: 326px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 326px;
    background: url("/public/image8.png") lightgray 50% / cover no-repeat;
    position: relative;
    left: 475px;
    bottom: 150px;
    overflow: hidden;
}

.Story{
    width: 253px;
    height: 69px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left:193px;
    bottom: 900px;
}

.StoryText{
    width: 1518px;
    height: 231px;
    flex-shrink: 0;
    color: #000;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 193px;
    bottom: 878px;
}

.OfferHeader{
    color: #000;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 357px;
    height: 69px;
    flex-shrink: 0;
    position: relative;
    left: 808px;
    bottom: 791px;
}

.Offer1{
    width: 579px;
    height: 367px;
    flex-shrink: 0;
    border-radius: 31px;
    background: #FFF;
    position: relative;
    left: 365px;
    bottom: 734px;
}

.OfferText{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 549px;
    height: 293px;
    flex-shrink: 0;
    padding-bottom: 49px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    position: relative;
    top: 15px;
    left:10px;

}
